<% content_for :width_container do %>
    <div class="max-width-400">
<% end %>



<h3>Welchen Betrag möchten <br/> Sie aufladen?</h3>

<%= simple_form_for :gift_card, {url: url_for(:controller => "order_gift_card_workflow", :action => "receive_amount")} do |f| %>
    <div class="input-append">
    <%= f.input_field :amount, :label => false, :input_html => {:maxlength => "7", :class => "span2"}, :size => 20 %>
      <span class="add-on">.00 &euro;</span>
    </div>
    <%= f.hidden_field :product_id, :value => @product_id %>
    <%= f.button :submit, "Weiter", :class => 'btn btn-warning btn-block' %>
<% end %>




