<% content_for :width_container do %>
    <div class="max-width-550">
<% end %>


<h3>
Vielen Dank f체r Ihre Gutscheinbestellung. Sie erhalten in K체rze eine Best채tigung per E-Mail.
</h3>
<br>

<%= link_to("Zur체ck zu www.dance-discounter.de", "www.dance-discounter.de", {:class => "btn btn-large btn-warning", :style => "width: 75%;"}) %>