<% content_for :width_container do %>
    <div class="max-width-550">
<% end %>



<h3>Welchen Betrag möchten Sie aufladen?</h3>


<table>
  <% @gift_cards.each do |gift_card| %>

      <tr><td colspan="3"><hr class="thick-green-hr"></td></tr>
      <tr>
        <td>

         <h2><%= number_to_currency(gift_card.get_price, unit: "&euro;", separator: ",", delimiter: "", format: "%n%u") %></h2>
          <%= link_to "Auswählen", url_for(:controller => "order_gift_card_workflow", :action => "receive_gift_card_product",
                                           :gift_card_number_id => @gift_card_number_id, :product_id => gift_card.id),
                                           {:class => 'btn btn-large btn-warning'} %>
        </td>
        <td>&nbsp;</td>
        <td>
          <%= raw gift_card.description1 %><%= raw gift_card.description2 %>
        </td>
      </tr>


  <% end %>
</table>




