<%= javascript_tag "var app_host = \"http://#{Figaro.env.app_host}\""; %>
<%= javascript_include_tag "order_tickets_workflow/raphael-min" %>
<%= javascript_include_tag "order_tickets_workflow/select_table" %>

<h3>Bitte w&auml;hlen Sie den Tisch aus, an dem Sie sitzen m&ouml;chten:</h3>

<div id="floor_plan">
</div>

