<%= javascript_include_tag "https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js" %>

<h3>Bitte w&auml;hlen Sie den Tisch aus, an dem Sie sitzen m&ouml;chten:</h3>
<div class="btn-group btn-group-vertical">
  <button id="second_floor" class="btn">Obergeschoss</button>
  <button id="first_floor" class="btn">Erdgeschoss&nbsp;&nbsp;&nbsp;</button>
</div>
<div id="floor_plan">
</div>

