<%= javascript_include_tag "https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js" %>

<h3>Bitte w&auml;hlen Sie den Tisch aus, an dem Sie sitzen m&ouml;chten:</h3>

<div id="floor_plan">
</div>

