<h2>Vielen Dank für Ihre Bestellung.</h2>
<h3>Sie sitzen an <%= @ballTable.caption %>.</h3>
<hr>
<h3>Wir senden Ihnen im Laufe des heutigen Tages eine Bestellbestätigung per E-Mail zu.</h3>
<hr>
<br>
<h3>WICHTIG: Bitte überweisen Sie innerhalb von einer Woche <%= @order.get_overall_amount %> &euro; auf folgendes Konto:</h3>
<h3>Kontoinhaber: Debbie und Oliver Seefeld</h3>
<h3>Kontonummer: 061 539 4629</h3>
<h3>Bankleitzahl: 100 208 90 (HypoVereinsbank)</h3>