<h3 style="color: #00FF00" >Vielen Dank für Ihre Bestellung.</h3>
<br>
<h3>Bitte überweisen Sie innerhalb von zwei Wochen 134 € auf folgendes Konto:</h3>
<h3>Kontonummer: 12345678</h3>
<h3>Bankleitzahl: 12345678 (Eine Bank)</h3>