// Place all the styles related to the buy_gift_card_workflow controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.rounded-corner-square-370 {
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-style: solid;
    border-width: 3px;
    border-color: #289784;
    box-shadow: none;
    max-width: 370px;
}

.inner-rounded-corner-square-container {
    text-align: center;
    margin: 20px;
}

.input-field {
    font-size: 16px;
}

input {
    width: 95%;
}


.rounded-corner-square-500 {
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-style: solid;
    border-width: 3px;
    border-color: #289784;
    box-shadow: none;
    max-width: 500px;
}

.thick-green-hr {
    border-width: 1px;
    border-color: #289784;
}

.rounded-corner-square-700 {
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-style: solid;
    border-width: 3px;
    border-color: #289784;
    box-shadow: none;
    max-width: 700px;
}