<div class="rounded-corner-square-370">

  <div class="inner-rounded-corner-square-container">

<h1>So funktioniert es:</h1>
<ol>
  <h4><li>Gutscheinnummer eingeben</li></h4>
  <h4><li>Gewünschten Betrag aufladen</li></h4>
  <h4><li>Gutschein verschenken</li></h4>
</ol>

<%= link_to("Los", url_for(:controller => "buy_gift_card_workflow", :action => "enter_gift_card_number"), {:class => "btn btn-warning"}) %>

  </div>

</div>
